@import "tailwindcss";

@theme {
  --color-blue: rgb(10 33 78);
  --color-golden: rgb(204 153 0);
  --color-slate: rgb(45 45 45);

  --font-sans: Barlow Condensed, sans-serif;

  --animate-spin-rev: spinRev 1s linear infinite;
}

@layer utilities {
  .before\:spinRev::before {
    animation: spinRev 1s linear infinite;
  }
}

@keyframes spinRev {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  img {
    @apply object-cover;
  }
}

@layer components {
  .before {
    @apply before:absolute before:content-[''];
  }

  .after {
    @apply after:absolute after:content-[''];
  }

  .nav {
    @apply scale-y-0 origin-bottom;
  }

  .nav.open {
    @apply scale-y-100 origin-top;
  }

  .hamburger.close {
    div:first-child {
      @apply rotate-45 translate-y-2;
    }

    div:nth-child(2) {
      @apply opacity-0;
    }

    div:last-child {
      @apply -rotate-45 -translate-y-2;
    }
  }
}